<h2>Create New Book</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="isbn-input">Title</label>
    <input
      id="isbn-input"
      type="text"
      formControlName="isbn"
      [attr.aria-invalid]="form.get('isbn')?.invalid && form.get('isbn')?.dirty"
    />
  </div>
  <div class="form-control">
    <label for="title-input">Title</label>
    <input
      id="title-input"
      type="text"
      formControlName="title"
      [attr.aria-invalid]="
        form.get('title')?.invalid && form.get('title')?.dirty
      "
    />
    <p
      class="error"
      role="alert"
      *ngIf="form.get('title')?.errors?.['required'] && form.get('title')?.dirty"
    >
      Title is required
    </p>
  </div>
  <div class="form-control">
    <label for="author-input">Author</label>
    <input
      id="author-input"
      type="text"
      formControlName="author"
      [attr.aria-invalid]="
        form.get('author')?.invalid && form.get('author')?.dirty
      "
    />
    <p
      class="error"
      role="alert"
      *ngIf="form.get('author')?.errors?.['required'] && form.get('author')?.dirty"
    >
      Author is required
    </p>
  </div>
  <div class="form-control">
    <label for="numOfPages-input">Number of Pages</label>
    <input
      id="numOfPages-input"
      type="number"
      formControlName="numOfPages"
      [attr.aria-invalid]="form.get('numOfPages')?.invalid"
    />
  </div>
  <div class="form-control">
    <label for="abstract-input">Abstract</label>
    <textarea
      id="abstract-input"
      formControlName="abstract"
      [attr.aria-invalid]="form.get('abstract')?.invalid"
    ></textarea>
  </div>
  <button type="submit">Save</button>
</form>
