<ng-container *ngIf="book$ | async as book; else elseTemplate">
  <h3>{{ book.title }}</h3>
  <h4>{{ book.author }}</h4>
  <p>{{ book.abstract }}</p>
  <img [src]="book.cover" />
  <a [routerLink]="['/books', 'edit', book.isbn]">Edit</a>
</ng-container>
<ng-template #elseTemplate>
    Loading ...
</ng-template>
<div *ngIf="error">
    An error occurred, oops
</div>
