<a routerLink="new">New Book</a>
<ng-container *ngIf="books$ | async as books; else loading">
  <input
    type="text"
    placeholder="Search ..."
    (input)="updateBookSearchTerm($event)"
  />
  <p>Es gibt {{ books.length }} Bücher insgesamt</p>
  <ng-container *ngIf="books | bookFilter: bookSearchTerm as filteredBooks">
    <p>Es gibt {{ filteredBooks.length }} Bücher in deiner Suche</p>
    <app-book-card
      *ngFor="let book of filteredBooks"
      [content]="book"
      (detailClick)="goToBookDetails($event)"
    ></app-book-card>
  </ng-container>
</ng-container>
<ng-template #loading> Loading ... </ng-template>
