* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

input, textarea {
  display: block;
  margin: 1rem 0;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  color: cornflowerblue;
}

input.ng-invalid.ng-dirty {
  outline: 1px solid crimson;
}

p.error {
  color: crimson;
}
