<form *ngIf="book" #formGroup="ngForm" (ngSubmit)="onSubmit(book)">
  <label for="title">Title</label>
  <input
    id="title"
    type="text"
    [(ngModel)]="book.title"
    name="title"
    required
    #titleControl="ngModel"
    [attr.aria-invalid]="titleControl.invalid"
  />
  <p
    *ngIf="titleControl.errors?.['required'] && titleControl.dirty"
    class="error"
    role="alert"
  >
    Book needs a title
  </p>
  <button>Submit</button>
</form>
